@page
@model Schronisko.Pages.Zaginiecie.IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}
<p>
            <a asp-page="./Zaginiecie/Create" class="btn btn-danger">Zgłoś zaginięcie</a>
        </p>
<p>
    Aktualne zaginięcia
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zaginiecia[0].Miejsce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaginiecia[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaginiecia[0].Zdjecie)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zaginiecia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Miejsce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zdjecie)
            </td>
           
            <td>
                
                <a asp-page="./Zaginiecie/Details" class="btn btn-info" asp-route-id="@item.Id">Szczegóły</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
