@page
@using Microsoft.AspNetCore.Identity
@using Schronisko.Areas.Identity.Data
@model Schronisko.Pages.HarmonogramAdmin.IndexModel
@inject SignInManager<SchroniskoUsers> SignInManager
@inject UserManager<SchroniskoUsers> UserManager

@{
    ViewData["Title"] = "Harmonogram";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
@if(((await UserManager.GetUserAsync(User)).IsAdmin).Equals(true))

{
          
<h1>Harmonogram</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Dodaj harmonogram</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Harmonogram[0].Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harmonogram[0].Godziny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Harmonogram[0].ZakresObowiazkow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Harmonogram) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godziny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZakresObowiazkow)
            </td>
            <td>
               <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edytuj</a> |
               <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary">Szczegóły</a> |
               <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
    </table>
}else{
  <h1>Brak dostępu</h1>
}
}else{
<h1>Brak dostępu</h1>
}