@page
@model Schronisko.Pages.Zaginiecie.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zaginiecia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Miejsce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Miejsce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Zdjecie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Zdjecie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Zaakceptowane)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Zaakceptowane)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Aktualne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Aktualne)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Zaginiecia.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
