@page
@model Schronisko.Pages.Zaginiecie.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Zaginiecia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Miejsce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Miejsce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Zdjecie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Zdjecie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Zaakceptowane)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Zaakceptowane)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Aktualne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Aktualne)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Zaginiecia?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
