@page
@model Schronisko.Pages.Zaginiecie.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Miejsce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Miejsce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaginiecia.Zdjecie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaginiecia.Zdjecie)
        </dd>
        
    </dl>
</div>
<div>
   
    <a asp-page="../Index" class="btn btn-info">Powrót</a>
</div>
