@page
@model Schronisko.Pages.Zaginiecie.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zaginiecia[0].Miejsce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaginiecia[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaginiecia[0].Zdjecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaginiecia[0].Zaakceptowane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaginiecia[0].Aktualne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zaginiecia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Miejsce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zdjecie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zaakceptowane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktualne)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
