@page
@model Schronisko.Pages.PrzegladOgloszen.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ogloszenie.Gatunek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ogloszenie.Gatunek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ogloszenie.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ogloszenie.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ogloszenie.Rasa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ogloszenie.Rasa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ogloszenie.Wiek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ogloszenie.Wiek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ogloszenie.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ogloszenie.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ogloszenie.Zdjecie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ogloszenie.Zdjecie)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Powrót</a>
</div>
