


@page
@using Microsoft.AspNetCore.Identity
@using Schronisko.Areas.Identity.Data
@model Schronisko.Pages.Ogloszenia.IndexModel
@inject SignInManager<SchroniskoUser> SignInManager
@inject UserManager<SchroniskoUser> UserManager

@{
    ViewData["Title"] = "Ogłoszenia";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
@if(((await UserManager.GetUserAsync(User)).IsAdmin).Equals(true))

{
          
<h1>Ogłoszenia</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Dodaj ogłoszenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ogloszenie[0].Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogloszenie[0].Rasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogloszenie[0].Wiek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogloszenie[0].Opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ogloszenie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wiek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
               <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edytuj</a> |
               <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary">Szczegóły</a> |
               <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
    </table>
}else{
  <h1>Brak dostępu</h1>
}
}else{
<h1>Brak dostępu</h1>
}