@page
@model Schronisko.Pages.Ogloszenia.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ogloszenie[0].Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogloszenie[0].Rasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogloszenie[0].Wiek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogloszenie[0].Opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ogloszenie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wiek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
